<div class="header">
    <h1>My Carrito</h1>

    <img src="/img/logo-punto-feliz.png" alt="logo">

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>
</div>
<hr>

<div class="main-pag">

    <div class="menu2">
        {{>menu}}
    </div>

    <div class="card">
        <br>
        {{#if error}}
        <div style="font-weight:bolder; font-size:18px; color:rgb(182, 19, 51)">{{error}}</div> <br>
        {{/if}}

        {{#if ok}}
        <div style="font-weight:bolder; font-size:18px; color:rgb(94, 229, 22)">{{error}}</div> <br>
        {{/if}}

        <ul id="carrito">
            {{#if carrito.productos.length}}

            {{#each carrito.productos}}
            <div class="card-prod">
                <li>
                    <strong>Descripcion: </strong>{{producto.description}} <br>
                    <strong>Precio: </strong>{{producto.price}} <br>
                    <strong>Cantidad: </strong>{{cantidad}} <br>
                </li>
            </div>
            {{/each}}
            {{else}}
            <img src="/img/iconos/vacio.png" alt="carrito-vacio" class="vacio-car">
            <strong class="vacio">Tu carrito está vacío.</strong>
            {{/if}}
        </ul>

        <div class="links">

            <a href="/productos" class="links-carr">
                <img src="/img/iconos/compra.png" alt="icono-compra">
                Seguir Comprando
            </a>

            <a href="/api/carts/{{carrito._id}}/comprar" class="links-carr">
            <img src="/img/iconos/finalizar.png" alt="icono-compra">
            Finalizar Compra
            </a>

        </div>

    </div>
</div>

<hr>
<div class="footer">






</div>