<div class="header">
    <h1>Productos</h1>

    <img src="./img/logo-punto-feliz.png" alt="logo">

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>
</div>

<hr>

<div class="main-pag">

    <div class="menu2">
        {{>menu}}
    </div>

    <div class="card">

        <input type="text" name="web" value="web" hidden>

        {{#if error}}
        <div style="font-weight:bolder; font-size:18px; color:red">{{error}}</div> <br>
        {{/if}}

        <input type="text" value="{{carrito._id}}" hidden id="carrito">

        <ul id="productos">

            {{#each productos}}
            <div class="card-prod">
                <p><img src="{{image}}" alt="{{name}}"></p>
                <li><strong>Nombre: </strong>{{name}}</li>
                <li><strong>Descripcion: </strong>{{description}}</li>
                <li><strong>Categoria: </strong>{{category}}</li>
                <li><strong>Precio: </strong>{{price}}</li>
                <li><strong>Stock: </strong>{{stock}}</li>

                <button onclick="comprar('{{_id}}')">
                    Agregar al Carrito
                </button>
            </div>

            {{/each}}

        </ul>
        <br>
        <a href="/carrito/{{carrito._id}}" class="carrito">
            <img src="/img/iconos/carrito.png" alt="icono-compra">
            Ver Carrito
        </a>
        <br>
    </div>
</div>

</div>

<hr>
<div class="footer">
    <span>
        ¡Muchas Gracias por su visita!
    </span>

    <p>
        © 2022 - 2024 | Punto Feliz - <a href="/contacto">Contacto</a>
    </p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productos.js"></script>