<div class="header">
    <h1>Usuarios</h1>

    <img src="/img/logo-punto-feliz.png" alt="logo">

    <div class="buscador">
        <label for="buscador"><strong>Buscador </strong></label>
        <input type="text" name="buscaodr" id="buscador" placeholder="¿Que deseas buscar?">
    </div>
</div>
<hr>

<div class="main-pag">

    <div class="menu2">
        {{>menu}}
    </div>
    
    <div class="card">
        <h2>Usuarios</h2>
        <br>
        <ul id="usuarios">
            {{#each usuarios}}
            <li>
                <strong>Nombre: </strong> {{name}} ||
                <strong>Apellido: </strong> {{last_name}} ||
                <strong>Email: </strong> {{email}} ||
                <strong>Rol: </strong> {{rol}} ||
                <strong>Carrito: </strong> {{carrito._id}} ||
                <strong>id: </strong>{{_id}}
            </li>
            {{/each}}
        </ul>
        <br>
        <div class="paginas">
            <a href="/usuarios?pagina=1">Pagina Principal</a>
            <p><strong>|</strong></p>
            {{#if hasPrevPage}}
            <a href="/usuarios?pagina={{prevPage}}">Anterior</a>
            {{/if}}
            <p><strong>|</strong></p>
            {{#if hasNextPage}}
            <a href="/usuarios?pagina={{nextPage}}">Siguiente</a>
            {{/if}}
            <p><strong>|</strong></p>
            <a href="usuarios?pagina={{totalPages}}">Ultima Página</a>
        </div>

    </div>
</div>

</div>

<hr>
<div class="footer">






</div>